[2018-06-19 21:05] tabatkins commented on #153
SpecRef has no such list of IDs.

[2018-06-20 00:41] fantasai commented on #153
If IDs have changed, that's a problem that should be fixed in the source document, e.g. through Bikeshed's oldids feature. It is not a progressive enhancement. It does not belong in fixup.js.

[2018-06-20 00:42] fantasai commented on #153
Note: Bikeshed requires headings to have explicit IDs rather than generating them from the title text to make it easier to keep those IDs stable over time. This is a best practice, and all editors should be following it.

[2018-06-20 22:34] marcoscaceres commented on #153
Agree that's best practice... I guess ReSpec should warn about this. However, it's not just headings, names of algorithms, concepts, etc. that I personally find are the problem... I guess any `dfn` can be at fault.

[2018-06-21 17:24] tabatkins commented on #153
Definitions don't usually change their text, so auto-gen IDs are a lot more reliable there than in headings.

But when they need to remain present unchanged, that's what `Required IDs` metadata is for. ^_^

[2018-06-21 19:24] palemieux commented on #156
This is causing [issues](https://github.com/w3c/imsc/issues/389) at https://www.w3.org/TR/ttml-imsc1.1/#itts-fillLineGap . Is a permanent fix in the works, or perhaps there is a temporary solution?

[2018-06-21 19:36] tidoust commented on #156
@palemieux A quick fix is to remove the `height` attribute on the `<img>` tag. In the Editor's Draft, given that this spec uses Respec, set `width=""` and `height=""` as described in https://github.com/w3c/respec/issues/1678#issuecomment-391624227

[2018-06-26 17:53] marcoscaceres commented on #153
Filed https://github.com/w3c/respec/issues/1716 on ReSpec.

[2018-06-26 23:03] fantasai commented on #156
The correct fix would be for HTML to specify that the width/height attributes are used to set the intrinsic size of the image (and are used while it loads) instead of to specify that they set the width/height CSS properties, but given that's outside the scope of this project :) we have two options:

- Remove the `max-width` from the style sheet. The downside is that images will no longer be scaled

[2018-07-05 20:03] plehegar commented on #126
closed for now. Feel free to reopen if someone feel strongly about the proposed change.

[2018-07-05 20:03] #126 closed, assigned to nobody

[2018-07-05 20:05] marcoscaceres commented on #101
Supported in Chrome since 54:
 https://bugs.chromium.org/p/chromium/issues/detail?id=611416

[2018-07-05 20:05] plehegar commented on #101
@deniak , any reason we can't do this?

[2018-07-05 20:52] plehegar commented on #145
I'll update the proposal as follows:
[code]

with Versions|Repository|Test drops down.
 And "More about this specification" is collapsed by default

[2018-07-06 09:39] deniak commented on #101
I don't see why not. I'll bring the topic to the systeam and see how we can implement this.

[2018-07-16 12:58] deniak commented on #156
@fantasai, unfortunately, we do have a couple of specifications (e.g. css-grid, css-flexbox, etc) that are specifying heights on images and I'm not sure how adding `height: auto` to the CSS rule will affect these specifications.
Instead, can't we create a new class just for that purpose that editors can use?

[2018-07-16 22:16] jyasskin opened #157 "Repo "Website" is a broken link"
The "website" field that appears at https://github.com/w3c/tr-design under "Insights" and to the right of "Style Sheets used by W3C Technical Reports http://www.w3.org/TR/" is https://w3c.github.io/tr-design/src/sample.html but should be https://w3c.github.io/tr-design/src/readme.html.

[2018-07-17 23:11] fantasai commented on #156
@deniak That's interesting, I didn't notice those. They're just repeating the intrinsic height of the image, though, so it won't affect anything except incremental rendering (image has to load to know its height).

[2018-07-17 23:11] fantasai commented on #156
The case that would break is if the specified height in the `<img>` tag is different from the image's intrinsic height. (Generally, one is not supposed to do that; one is supposed to use CSS for styling.)

[2018-07-19 06:44] deniak commented on #156
Well, these are specs from the CSS WG :smile:
Joke aside, I tried to look for all the images with specific heights and I don't think updating the rule with `height: auto` will be a problem so :+1:

[2018-07-26 00:42] marcoscaceres opened #159 "Showing status at a glance"
I've had feedback from one of our project managers that it's hard to understand at a glance where a document is along the Recommendation Track.

What might be nice at the top of the document is something like:

[code]

When you hover over each, it might be cool to show a bubble of information saying what's needed to progress. For example, "To progress to Proposed Recommendation, there must be two

[2018-07-26 00:45] marcoscaceres commented on #159
Added a few more details above.

[2018-07-27 15:54] #156 closed, assigned to nobody

[2018-07-27 21:56] fantasai commented on #156
@deniak SGTM :) CSSWG is happy to update our specs as necessary. ;)

[2018-07-31 00:18] fantasai opened #160 "Use Bert's styling for annoying-warning"
@bert-github’s annoying warning style for the very outdated CSS Box Module is much nicer than the one we have on tr-design. We should adopt it instead.
https://drafts.csswg.org/date/2018-07-09T23:26:30/css-box-3/

[2018-07-31 00:46] #160 closed, assigned to nobody

[2018-08-08 07:13] marcoscaceres opened #162 "standard way to mark fingerprinting surface vectors"
@npdoty wrote [elsewhere](https://github.com/w3c/respec/issues/1788) - ignore "ReSpec" and just think "web spec":

Potential feature/enhancement for ReSpec: it would be nice if authors could easily note that a particular section/feature was a potential addition to the fingerprinting surface (or sometimes, a "fingerprinting vector") and then ReSpec would add the nice icon next to it, and alt text r

[2018-08-08 07:14] marcoscaceres commented on #162
@zcorpan wrote in the bug mentioned above:

The fingerprint image in https://github.com/whatwg/whatwg.org/pull/64 when merged will be CC0 per https://resources.whatwg.org/README.md

When the fingerprint PRs are merged, I think the default will be to link to the definition in the Infra standard.

[2018-08-23 23:05] fantasai opened #163 "fix fixup.js to autoclose toc even when link contains markup"
https://github.com/tabatkins/bikeshed/issues/1335

[2018-08-23 23:32] #163 closed, assigned to nobody

[2018-08-28 01:47] marcoscaceres opened #164 "h6 code should not use `font-variant: small-caps`"
@yoavweiss wrote:

* https://w3c.github.io/performance-timeline/#getentries-method-0

Going to the link above you can see that code segments are displayed with small-caps, inherited from the `<h6>` style. That doesn't really work.

`<code>` should be excluded from those styles, e.g. by including `font-variant: normal;` in https://www.w3.org/StyleSheets/TR/2016/base.css (line 488 in current version

[2018-09-12 17:29] tripu commented on #148
(It was deployed; see CSS rule in line no. 686 of [`https://www.w3.org/StyleSheets/TR/2016/base.css`](https://www.w3.org/StyleSheets/TR/2016/base.css))

[2018-09-12 17:29] #148 closed, assigned to tripu

[2018-09-24 02:56] #164 closed, assigned to nobody

[2018-09-24 02:57] fantasai opened #167 "<p class="note"> and <div class="note"><p>...</div> should have consistent padding/margins."
What the topic says.

[2018-10-01 07:12] deniak commented on #101
We started adding that immutable header to some of the scripts under `/scripts/`:
[code]

However, for `fixup.js`, it's a bit tricky as we sometimes update the script under 2016. Same thing for the specifications under /TR. We do allow edit-in-place in some situations.

---

[Comment edited just to fix a couple typos &mdash; @tripu, 8 Oct 2018]

[2018-10-05 15:29] alastc opened #168 "Enable reflow/zoom for pre blocks"
For code samples in the WCAG technique documents, the pre elements cause horizontal scrolling for readers zooming in ([reported to the WCAG repo here](https://github.com/w3c/wcag/issues/423)).

I think that adding `white-space: pre-wrap;` to pre (after line 499 of base.css) would resolve this.

For people with very little horizontal space available the lines would wrap, but if you do have a larger

[2018-10-06 05:30] fantasai commented on #168
I didn't want to add pre-wrap to the default W3C-wide style sheet because for some uses of PRE, line-wrapping would be misleading. For example, some CSS specifications use PRE text to show how text is expected to wrap under certain conditions--introducing soft line breaks would break the examples!
Another downside of pre-wrap is that the wrapped lines don't match the previous line's indentation le

[2018-10-06 09:55] alastc commented on #168
Ah, fair enough, we'll do that locally.

[2018-10-06 09:55] #168 closed, assigned to nobody

[2018-10-19 12:13] tabatkins opened #169 ""Example N" text color is only AA-accessible against the example background color"
@alice noticed that the "Example N" text color is only AA-level contrast against the example-block background color. I think we can pretty reasonably drop that text to 20% lightness rather than the current 30% lightness; it still looks brownish, but hits a contrast ratio above 8 (which passes AAA).

Similarly, the "Issue N" text only passes AA, not AAA. If we drop its lightness from 40% to 30%, it

[2018-11-02 16:19] tidoust opened #170 "Additional logos may not be styled properly"
ReSpec no longer produces a wrapping `<p>` around the W3C logo in the header. When multiple logos are used, as in the [SSN spec](https://w3c.github.io/sdw/ssn/), the header now looks like:

[code]

However, in the absence of a `<p>`, selectors in `base.css` that style the logos only match the first `<a>`: `.head > a:first-child`, and thus miss the second logo. Relevant lines in `base.css`:
- [L119

[2018-11-08 18:31] vivienlacourba commented on #157
fixed (not sure when).

[2018-11-08 18:31] #157 closed, assigned to plehegar

[2018-12-18 18:11] goodwitch opened #172 "Making it crystal clear when content is Normative"
While it is "easy" for active W3C participants to understand what parts of publications are normative (and what parts are informative)...this is NOT clear to regular humans that have to use these standards.  In the case of WCAG 2.0 and 2.1, I've talked to hundreds of accessibility professionals that think 'Understanding" and "Technique" documents are normative.

Please, please add a clear text and

[2018-12-18 21:57] fantasai commented on #172
Hi! /tr-design is about the visual design of the documents across all of W3C. We don't control the actual text content of the specs, you'd have to take that up with the authors of the document.

[2018-12-18 23:12] goodwitch commented on #172
@michael-n-cooper can you help us figure out where to report this?  Looks like tr-design isn't the right place.

[2018-12-18 23:14] marcoscaceres commented on #172
@goodwitch, looks like the right place might be https://github.com/w3c/WCAG

[2018-12-18 23:22] goodwitch commented on #172
@marcoscaceres it actually needs to be higher than that.  Michael was telling me that it is a W3C TR/spec construct...so asking down at the WCAG level is too low.

[2018-12-19 00:29] marcoscaceres commented on #172
I guess it could be done at the ReSpec (spec generator) level. It's the spec generator that adds the "This section is non-normative" for sections marked as `.informative`.

However, it sounds like you are having larger problems with spec usability. I'd suggest figuring out exactly what kinds of changes you'd like to see in one spec, user testing them to make sure the changes have the desired effec

[2019-01-25 18:40] plehegar opened #173 "Retired notes could be visually clearer"
[[
When W3C WG Note is published “to document work that was abandoned without producing a Recommendation” the tombstone nature of the Note could be visually clearer. Got a bug report about Firefox not supporting a feature from a Note published as part of the XHTML2 WG charter expiry.
]]
https://twitter.com/hsivonen/status/1088787202669248512

[2019-03-13 04:43] marcoscaceres opened #175 "Heading mark-up in notes"
This was originally [filed on ReSpec](https://github.com/w3c/respec/issues/1752) by @aardrian... but I feel we need to have a larger discussion.

The following is a copy/paste from @aardrian's bug linked to above.

## Description of problem

It is common practice for developers to view-source on pages for guidance on how patterns are coded, or just to take code as-is for their own use. There is HT

[2019-03-13 04:45] marcoscaceres commented on #175
From the ReSpec side, I personally don't have a strong opinion - and would be happy to follow the ARIA best practices here if it's appropriate. It might require some modifications to base.css or related style sheets. Super interested in @fantasai's and @tabatkins take on this.

[2019-03-13 06:15] awkawk commented on #175
It seems that the aria used here would be what I would expect if we weren't able to modify some existing markup that needs to express a heading, but since we can write it using the native semantic element, I agree that it is desirable. @jnurthen will likely agree.

[2019-03-13 12:35] marcoscaceres commented on #175
For more context, the current guidance around "boxes" (notes, issues, etc.) is here:
https://w3c.github.io/tr-design/src/readme.html#boxes

[2019-03-13 14:00] awkawk commented on #175
Both the note and example guidance should indicate that the "Note" and "example" text needs appropriate level heading treatment.

[2019-03-13 15:20] fantasai commented on #175
Looks like neither ReSpec nor Bikeshed is following the expected markup convention for the box label in https://www.w3.org/StyleSheets/TR/2016/readme.html#note :/

We don't insert a heading into notes because they are most often paragraph-level insertions, and are not followed by another heading but by the rest of the prose of the section. Putting a heading at the beginning of the note would make

[2019-03-13 16:48] tabatkins commented on #175
I'm happy to have Bikeshed generate whatever markup is determined to be best.

That won't necessarily affect anyone manually creating a `class=note` element, of course, but as long as you're doing Bikeshed-style `Note: foo` paragraphs, I can generate whatever.

[2019-05-09 15:26] domenic commented on #104
Ping @fantasai; this continues to be a really big problem on multiple specs using W3C stylesheets. Examples from Web IDL:

- https://heycam.github.io/webidl/#idl-members
- https://heycam.github.io/webidl/#idl-special-operations
- https://heycam.github.io/webidl/#dfn-distinguishable

I tried to left-align these using inline styles (`margin: 0 !important` for the `.overlarge` class), but something i

[2019-05-09 21:48] tabatkins commented on #104
Okay, I've done some fiddling, and as far as I can tell I've fixed the problem.

First, re-iterating our design constraints:

1. We have a "text column width", which is generally 50em wide, or smaller if the viewport is too small.
2. We have an "available width", which is the text column width, plus any open space to its right. This only shows up on wide monitors.

Now, the functionality we want i

[2019-07-11 07:27] marcoscaceres opened #179 "Fixup ToC generation obscures spec"
This is happening a lot lately (both on generated and static specs... and both on ReSpec and BikeShed generated specs):

![Screenshot 2019-07-11 17 25 32](https://user-images.githubusercontent.com/870154/61030561-fe9a6f80-a400-11e9-9def-802998ae5108.png)

I think the problem is that fixup.js runs non-deterministically.

[2019-07-11 09:18] fantasai commented on #179
Weird. I unfortunately don't know JS, so no idea why. CC @tabatkins  ?

[2019-07-15 08:21] deniak commented on #179
@marcoscaceres, do you have a link I can use to reproduce the issue?
https://www.w3.org/TR/2019/WD-push-api-20190711/
and
https://www.w3.org/TR/2019/WD-push-api-20190714/
look fine to me.

[2019-07-15 09:03] marcoscaceres commented on #179
It’s random. Try opening a browser window so it’s about 800px wide. Then either load up any spec and hit reload a few times. It’s particularly bad in Safari and it happens occasionally in Chrome.

[2019-07-19 19:19] fantasai opened #180 "Retired Documents shouldn't be automatically treated as "Do Not Read""
The styling of the warning on
  https://www.w3.org/TR/css-print/
and
  https://www.w3.org/TR/css-speech/
is inappropriately obnoxious. Retiring a REC track document to NOTE status is not the same thing as saying that it is a bad thing to reference or to use, and this note and its extremely intrusive styling make it seem like this document should never again see the light of day.

Please change wha

[2019-08-06 08:20] deniak commented on #180
@fantasai, I believe the note was added after @frivoal requested to mark [the retired obsolete notes as such](https://lists.w3.org/Archives/Public/www-style/2018Sep/0003.html).
I'll be ok to just add a sentence in the SotD instead of the red popup if everyone's ok with that.

/cc @plehegar @svgeesus @xfq

[2019-08-06 12:41] frivoal commented on #180
For the CSS Profiles, we did talk about retiring them, and [resolved on doing it](http://www.w3.org/mid/CADhPm3tAraRSfq+aH+m0x3no+KSk-ALPyxZWnersGi8x6BztWQ@mail.gmail.com). We can discuss the exact style for doing that, but overall I don't really have an issue with that happened to them.

I did **not** request that CSS Speech got the same treatment, and I don't believe we have a resolution for doi

[2019-08-06 12:42] frivoal commented on #180
(Also, I am far from sure this is the right repo for this issue)

[2019-08-07 06:28] xfq commented on #180
I'm not sure about the story behind the CSS Speech CR/Note, because that had happened before I joined the CSSWG. I added the obsoletion notice just because it's [published](https://www.w3.org/TR/2018/NOTE-css3-speech-20180605/) as a Note, so I thought it was meant to be retired, like the various profiles.

I apologize for that.

[2019-08-07 20:24] plehegar commented on #180
Looking back at the history here, Chris requested publication as a WG Note, on June 4, 2018.:
[[
* Evidence that publication is in accordance with expectations
Previously published as a Candidate Recommendation in 2012, this
specification is being republished with a minor update and moving to WG
Note since there are no current or planned implementations that we are
aware of.
]]
I asked if the Note

[2019-08-07 20:47] astearns commented on #180
I can't find discussion that would have changed the CR publication to a Note, but given the continued lack of implementations it seems like an appropriate state for the spec to be in (without the 'obsolete' part).

[2019-08-07 21:06] plehegar commented on #180
So, at the minimum, we should remove the warning (I'm guessing we can do so without republishing).

[2019-08-08 20:20] plehegar commented on #180
I removed the warning from the document.

I don't believe that retired documents are automatically treated as do-not-read. They are not listed in the default view page of /TR, but one can find them under retired. The red box is independent of the "Retired" status.

[2019-08-11 15:29] frivoal commented on #180
As long as the spec is not being implemented, there's very little feedback coming in, and not much maintenance to do, but that neither means the WG thinks the spec is a bad idea, that we think people should not implement it, or that we wouldn't deal with issues if they were filed. To the best of my knowledge, the WG continues to believe that implementing this would be the right thing to do.

If yo

[2019-08-26 17:07] nitmws opened #181 "Print-out rendering of pre-code shows long gaps"
## Important info

* URL to affected spec: https://w3c.github.io/odrl/profile-bp/
* ReSpec version: 24.30.5
* [x] I did a "hard refresh", but it's still busted.

## Description of problem

What happened (e.g., it crashed)?:
The print-out of the web document shows very long empty gaps around the start of a section inside &lt;pre&gt; &lt;/pre&gt; tags, e.g. for examples. This was tested with the bro

[2019-08-27 04:08] saschanaz commented on #181
Confirmed on my machine:

![image](https://user-images.githubusercontent.com/3396686/63740370-b1e4f800-c8cb-11e9-951b-45078b2ac7dd.png)

[2019-08-27 04:40] marcoscaceres commented on #181
Seeing it too, but I'm not sure this is ReSpec's stylesheet or the W3C's base.css.

[2019-08-27 09:56] sidvishnoi commented on #181
We've `page-break-inside: avoid` on base.css:601 (`.example`) and base.css:481 (`pre`). As the example is long, we can't avoid page-break.
Removing `page-break-inside: avoid` from `base.css:481` _fixes_ the above issue.

[2019-08-27 10:47] marcoscaceres commented on #181
ok, so this is tr-design issue, not a ReSpec issue.... @siusin, could you transfer this issue over to the tr-design repo (I don't seem to have rights to do that)? @suisin, could you maybe also add me to the tr-design repo? We get a few of these per year, so it would be great to have the ability to move them to the right without needing to bother you :)

[2019-08-27 13:16] siusin commented on #181
Done and done, @marcoscaceres . I've added you to the [tr-design](https://github.com/orgs/w3c/teams/tr-design) team, who have the write access to that repo. Hope that'd be good enough.

[2019-08-27 14:27] marcoscaceres commented on #181
Thanks @siusin! @fantasai, we transferred this over from ReSpec. Details above with a possible fix suggested by @sidvishnoi. Let’s us know what you think!

[2019-11-15 01:06] fantasai commented on #181
Thanks @sidvishnoi @nitmws @marcoscaceres ! I swapped out the `page-break-inside: avoid` @sidvishnoi noted as the problem with higher `widows/orphans` values. This allows longer pre blocks to break, while requiring each fragment of it to be at least three lines, to improve context. (This means you need at least six lines in a pre block before we'll allow a break. But more than six lines can break.

[2019-11-15 01:14] fantasai commented on #180
@xfq You missed the obsoletion notice on /TR ...

[2019-11-15 01:15] #172 closed, assigned to nobody

[2019-11-15 01:17] fantasai commented on #171
This is kinda out-of-scope for tr-design as well, we're just styling things here, not generating zip files. :) Happy to leave it open until someone finds a better home in the meantime.

[2019-11-15 03:26] marcoscaceres commented on #171
I agree that it's a little bit outside the scope of TR-Design. What might be fun/useful would be adding a service worker when a document gets published on /TR/. I believe WHATWG specs do this already.

[2019-11-15 15:51] goodwitch commented on #172
This is really a big problem in our industry.  Most experts (that are not active in the W3C)...do NOT know this difference.  Just closing this issue makes me very, very sad for our industry.  Where can this be reported so it doesn't just get called "out of scope"?

[2019-11-16 02:34] marcoscaceres commented on #172
@goodwitch don’t fret - we can keep discussing solutions here or elsewhere. We want to make things better so let’s keep working towards that.

[2019-11-18 06:15] marcoscaceres commented on #181
Thanks for the update, @fantasai! Has this been rolled out? I'm still seeing the issue in both Firefox and Chrome... looks good when printing in Safari tho.

[2019-11-19 08:58] xfq commented on #180
I can create a transition request (for CR) per group decision mentioned above.

Can we show that the spec has received wide review in order to move to CR?

[2019-11-21 15:53] plehegar opened #182 "Highlight the link in use"
(credits to @ericprud  for the idea)

Today, we have several links in the metadata headers of each spec. When a reader opens a document which isn't outdated, it's not clear to the reader if they're looking at a dated link, a latest version link, etc. It could be helpful to highlight, using JS, which link is currently displayed to the user. So that it comes more obvious to them.

@deniak @fantasai

[2019-11-23 15:58] deniak commented on #182
Now that the latest version link can point to a different document than the dated link mentioned in the document, marking the "current link" can, indeed, be useful. Highlighting the link or adding a logo next to it can be an option.

[2019-11-24 16:28] plehegar commented on #128
JUst checked with https://www.w3.org/TR/hr-time previous version and it works fine. html-aria previous version is still broken but not worth instigating at this point imho.

[2019-11-24 16:28] #128 closed, assigned to plehegar, deniak

[2019-11-29 06:59] marcoscaceres commented on #182
Sounds helpful. Be nice to see a rough prototype and we could go from there.

[2020-01-06 20:03] tabatkins commented on #104
I've just fixed this in Bikeshed's default stylesheet, and confirmed it works exactly as I want it to, so I've opened a PR (#185) to fix it in the W3C stylesheets as well.

[2020-01-06 22:03] fantasai commented on #104
Merged PR https://github.com/w3c/tr-design/pull/185

[2020-01-06 22:04] fantasai commented on #182
Be nice to be able to use https://www.w3.org/TR/selectors-4/#the-local-link-pseudo :)

[2020-01-24 01:08] frivoal commented on #180
@xfq, it has already been in CR, we had a resolution to do a CR update after having made some minor fixes in response to horizontal review.

[2020-02-10 21:18] jyasskin opened #186 "Should EDs have an UNOFFICIAL DRAFT background?"
Investigating @snyderp's https://github.com/WICG/admin/issues/79#issuecomment-584349305, I noticed that #177 gave an "UNOFFICIAL DRAFT" background to CG-DRAFTs, but all of my specs are in their repositories with `Status: ED`, not `Status: CG-DRAFT`, so they wind up looking more official. Could y'all make sure that what's happening is what you intend?

[2020-02-10 21:34] jyasskin commented on #186
Please check DREAM too. UD already shows the UNOFFICIAL DRAFT background.

[2020-02-10 23:36] marcoscaceres commented on #186
@jyasskin can you kindly provide some links to specific documents? I just checked some of my own ones, but was not able to reproduce.

[2020-02-10 23:39] jyasskin commented on #186
https://wicg.github.io/webpackage/loading.html has the ED status and does not have the "UNOFFICIAL DRAFT" background. If I change it to have the CG-DRAFT status locally and re-bikeshed, it does get the background. EDs are no more official than CG-DRAFTs, so it's weird that we'd only give the background to one of them.

[2020-02-10 23:43] marcoscaceres commented on #186
Ah, got it. And yes, we are treating ED as "more official" in that ED is a W3C Working Group Draft.

Could you please change web packaging to CG-DRAFT? We deliberately don't want CG-Drafts to look "official", because it confuses the community (people think these are "standards", which they are not), and we want to encourage more folks to move their incubations to a WG, given support from multiple

[2020-02-10 23:45] marcoscaceres commented on #186
Fixed a few typos above... sorry about that. Need coffee.

[2020-02-10 23:49] pes10k commented on #186
@marcoscaceres i think this issue isn't limited to web packaging / loading.  It's true a good number of WICG repos.  Just from scrolling through:
- https://wicg.github.io/web-transport/
- https://wicg.github.io/construct-stylesheets/
- https://wicg.github.io/change-password-url/index.html
- https://wicg.github.io/crash-reporting/index.html

[2020-02-10 23:52] jyasskin commented on #186
Great, thanks. I'll raise an issue in the WICG to make this happen systematically. I didn't realize ED was only for WG drafts.

[2020-02-11 06:03] marcoscaceres commented on #186
@snyderp, thanks, will switch those over. Sometimes those slip through.

[2020-02-11 06:04] pes10k commented on #186
No worries, there are some more too.  Might be worth just auditing them all

[2020-02-11 06:09] marcoscaceres commented on #186
@tabatkins, it appears that BikeShed is indeed not loading up the right stylesheet for "w3c/CG-DRAFT"? Or is it that the specs haven't been regenerated in a while?

@snyderp, if you could help us with auditing, that would be greatly appreciated. We did an audit a few months ago already, so it should only be whatever new repos were added in the last 6 months ... so probably only like 5 or 6. Sent P

[2020-02-11 06:10] pes10k commented on #186
Sure, what do you have in mind?

[2020-02-11 06:15] marcoscaceres commented on #186
Just what you did above... if you can find the specs, then send a PR like this one:
https://github.com/WICG/construct-stylesheets/pull/121

to change the spec status from "DREAM" or "ED" to "CG-DRAFT". I spotted a few via search:
https://github.com/search?p=2&q=org%3AWICG++specStatus%3A+%22ED%22%2C&type=Code

[2020-02-11 06:46] pes10k commented on #186
I see.  I think auditing the WICG repos is probably best handled by the WICG chairs and members (I'm not even in the CG).  I noticed the problem and found 5 instances of it.  I think you all can probably handle it from here ;)

[2020-02-11 06:59] marcoscaceres commented on #186
🥺🔥

[2020-02-11 07:03] marcoscaceres commented on #186
@tabatkins, I guess maybe BikeShed specs need to be using "w3c/CG-DRAFT" instead of "CG-DRAFT"? Could that be the issue?

[2020-02-13 20:37] jyasskin commented on #186
(https://github.com/w3c/tr-design/issues/186#issuecomment-584501682 was resolved by noticing that the relevant spec didn't set a [Group](https://tabatkins.github.io/bikeshed/#metadata-group).)

Oh, @marcoscaceres, how do you feel about the `DREAM` status? Should it have the "UNOFFICIAL DRAFT" background?

[2020-02-13 22:56] marcoscaceres commented on #186
Personally, I'd wish DREAM had rainbows and unicorns as a background 🌈🦄 :) But while we wait for that, "UNOFFICIAL DRAFT" seems appropriate.

On a more serious note, I know the AC or AB talked about DREAM previously, but I wasn't aware it became an official™️ status at the W3C. Is there more information about it?

[2020-02-18 19:16] tabatkins commented on #186
It's definitely not official, it's just commonly used because it doesn't connote any official status and it has a cute subheading. ^_^

[2020-04-30 17:12] tabatkins commented on #104
Now that #185 is merged, this can presumably be closed? Are you waiting for confirmation from @marcoscaceres, perhaps?

[2020-04-30 17:15] domenic commented on #104
Confirmed that the linked Web IDL examples are fixed!

[2020-04-30 19:07] fantasai commented on #186
So... I think what's happening here is that CG drafts are switching to CG styling, and there's nothing to do for tr-design? Is that correct, @jyasskin ?

(I might keep this open for next year, though. Because by next year, we should all be on Process 2020 and at that point there should not be any reason for EDs to be anything other than scratch space.)

[2020-04-30 19:09] fantasai commented on #181
@marcoscaceres Seems to have been pushed, and WFM in Firefox with the OP's spec. Can you verify?

[2020-04-30 19:15] fantasai commented on #142
Deferring to https://github.com/whatwg/html/issues/3191

[2020-04-30 23:17] jyasskin commented on #186
@fantasai I believe that's the conclusion this thread arrived at. As I tried to say in my initial post, I just wanted to make sure you'd thought about the question, not push a particular answer.

[2020-05-01 04:41] marcoscaceres commented on #186
Agree. We might be able to close this. The CG-Drafts now have the Unofficial watermark in the `.head` of a document and we have consensus that it's sufficient to convey status at a glance.

W3C ED should remain as they are.

[2020-05-01 04:45] marcoscaceres commented on #181
Verified, fixed. Thanks @fantasai!

[2020-05-01 04:45] #181 closed, assigned to nobody

[2020-05-01 04:52] marcoscaceres commented on #104
Confirmed also (web manifest spec)! Closing as fixed.

[2020-05-01 04:52] #104 closed, assigned to nobody

[2020-05-19 22:08] fantasai opened #190 "Link underlines should respond to writing-mode"
Sideways links end up with the "underline" in the wrong axis.

[2020-07-31 23:27] fantasai opened #193 "Switch :visited and :link underline colors"
Make :visited less intrusive than :link because if you've been there before maybe you don't need the link to be quite so much in-your-face.

(Particularly relevant for some of our heavily cross-linked specs, which are kinda hard to read with the current styling.)

[2020-09-01 17:52] #169 closed, assigned to nobody

[2020-09-01 18:04] fantasai opened #198 "Define styles for Candidate and Proposed Changes for Process 2020"
[Process 2020](https://www.w3.org/2020/Process-20200915/#candidate-changes) introduces the ability to annotate changes into a document. We need some standardized styling for that. See [sample showing what that could look like](http://files.florian.rivoal.net/edit-rec-sample/2020-05-01.html#principal-flow).

[2020-09-01 18:06] fantasai commented on #198
Possible Bikeshed markup pattern:
[code]

[2020-09-01 22:37] tabatkins opened #200 "#outdated-note is a weird ID to put on a link"
On outdated specs, like <https://www.w3.org/TR/2017/CR-css-flexbox-1-20171019/>, the "outdated spec" warning shows up - a red box with white text, and a link to the newest version of the spec.

In the markup for that panel, the link to the new spec has `id="outdated-note"`. I have no idea why. I *presume* it was added there specifically to raise the specificity of the link's selector trying to sty

[2020-09-01 22:58] tabatkins opened #201 "Styles are inconsistent with level of color support"
Some parts of the stylesheet include both a #hex color and an hsl() color, presumably so *very* down-level clients that don't even understand hsl() can still display the color. (Also some rgba(), for the same reason.)

But not all! There are a few instances of hsl() without a #hex preceding it. Should we care about this? Either way, we should be consistent, and either always or never do it.

(Ther

[2020-09-02 02:27] fantasai opened #204 "P2020 Templates: Header Data Revisions"
Hi @plehegar , got a beef with a few of your changes (though I love the attempt to pull more boilerplate out of the SOTD and into the header). :)

Draft shouldn't be a subtitle of a subtitle. The status should just be "W3C Candidate Recommendation Draft". That'll make life a lot easier for everyone, I think.

This is too GitHub-specific to be in the spec template. We have used mailing lists, Bugzi

[2020-09-02 02:40] fantasai commented on #204
Also, while we're at it, can we pull out the Group info into the header?

We know it's a CRW because it says so at the top. Pulling out the group into the header would be useful and get rid of this sentence.

[2020-09-02 05:50] fantasai opened #205 "Shorten / Update Boilerplate"
Since @plehegar started cleaning up the SOTD boilerplate in his P2020 mockups, I figure we should just go for it and clean up even more of the extraneous prose. :) And also improve some of the explanations of e.g. PR while we're at it. So here's revised proposed SOTD boilerplate from me and @frivoal:

**All-Status Changes**

<ol>
<li>First, shift out the name of the group(s) producing the spec int

[2020-09-08 18:37] swickr commented on #205
+! to moving the group name into the header.

-1 to dropping the third sentence of the emphasized text; the citation of w3.org/TR should remain for those for whom this document is their first entry to the Land of W3C Specs.

I'm not entirely comfortable merging the Process and Patent Policy text, at least not in the way proposed.  The specific version of the document will remain governed by the Pr

[2020-09-08 19:29] plehegar commented on #198
See the proposed css classes in the mockups. .correction, and .addition for the annotations

[2020-09-08 19:31] plehegar commented on #200
pinging Denis on this one since I don't know if the ID is in use.

[2020-09-08 19:32] fantasai commented on #1
Added to the README:

  <p>The following requirements apply to spec styling:

  <ul>
    <li>The document must be accessible to persons with disabilities. (See <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines</a> for more info.)
    <li>The document must be readable even if JavaScript is disabled.
    <li>The document must be readable when printed.

[2020-09-08 19:32] #1 closed, assigned to nobody

[2020-09-08 19:40] plehegar commented on #204
re title, I'll check with Denis andd what we can do.

re GH link, the new rule is actually [more lax](https://github.com/w3c/specberus/pull/954/files#diff-6cabd766ed64c85ca0bc61846c3db11eR89). We're looking for mailing list or github link. Checking whatever tracking system isn't something we can check automatically and thus enforce. We can use exceptions if needed and, if it becomes widespread, we

[2020-09-08 19:44] plehegar commented on #205
Regarding status-specific stuff, I wonder if you took a look at the ones proposed. they are much shorter.

[2020-09-08 20:39] fantasai commented on #204
Why not just

[code]

This isn't hard. The reason it's not in anyone's templates is because it's already listed in the SOTD. But that's not a good place for it.

[2020-09-08 20:40] fantasai commented on #204
Wrt GH link, the template is written up in a way that does not lend itself to using a different technology. So, while it's nice that specberus is more lax, we need the template to also be appropriately generic. The templates should be minimal and generic.

[2020-09-08 20:51] fantasai commented on #205
I think we should find a different place to link to it. It is not *status* information, and does not belong in SOTD. Tim Berners-Lee would not want it there; I know this for sure from speaking with him.

Personally, I think that the various links to W3C's homepage should be sufficient for this purpose: if /TR is not dead easy to find from the homepage, the homepage redesign is a failure. STOD->/TR

[2020-09-08 20:53] fantasai commented on #198
@plehegar Fixed in https://github.com/w3c/tr-design/commit/8e28cb74fa7f4e7d8a97f6fab090495ff9ef878b forgot to update this issue.
See http://fantasai.inkedblade.net/style/design/w3c-restyle/2020/readme#amendment for the results.

[2020-09-08 21:16] fantasai commented on #205
How about

?

[2020-09-08 21:42] fantasai commented on #120
This was fixed in f5285732

[2020-09-08 21:42] #120 closed, assigned to nobody

[2020-09-08 21:47] #193 closed, assigned to nobody

[2020-09-08 21:51] #151 closed, assigned to nobody

[2020-09-08 21:51] fantasai commented on #151
This was fixed.

[2020-09-08 22:02] fantasai commented on #109
class=advisement is normative, though. It's not clear to me whether this would be normative or informative?

[2020-09-08 22:14] #106 closed, assigned to nobody

[2020-09-08 22:27] fantasai commented on #123
Hi @tobie, I understand exactly the situation you're describing, I've seen it before. However, on my system I'm not seeing the problem. Which I think means, whether the extra padding is appropriate or not depends on the metrics of the font in use. I'm guessing some fonts measure the "advance" of the glyph along the baseline, whereas others (newer ones, maybe?) measure the glyph in a way that lets

[2020-09-08 22:48] #93 closed, assigned to nobody

[2020-09-08 23:08] tobie commented on #123
Makes sense.

[2020-09-08 23:08] #123 closed, assigned to nobody

[2020-09-10 17:41] #200 closed, assigned to deniak

[2020-09-11 05:08] marcoscaceres commented on #109
If I'm understanding correctly, I think it should be neutral. The surrounding `<section>` should determine if it is normative or not.

[2020-09-15 14:42] plehegar opened #210 "Use history link instead of previous version"
See
 https://github.com/w3c/specberus/issues/951

[2020-09-24 23:43] tabatkins opened #216 "Add a darkmode version of the UNOFFICIAL DRAFT image"
The current UD/cg-draft image is very-light-on-white, which doesn't work on a darkmoded spec. In anticipation of launching darkmode support later, we should add a dark version of the image. (Bikeshed's experimental darkmode support already adds a custom version of the image.)

Since the current image is #fdeded on white, after some playing around while generating the Bikeshed version, I found a si

[2020-10-02 23:49] bathos opened #217 "Darkmode smoke-on-blizzard tables"
Apologies if this is the wrong repo or if this is redundant. I wasn’t sure if this comes from here, Bikeshed, or somewhere else. It looks like there are a few new-darkmode related style issues here but as far as I could tell, not this one:

![screenshot showing pale gray text on pale blue background in darkmode CSS spec](https://user-images.githubusercontent.com/6257356/94977686-d906f380-04e7-11eb

[2020-10-03 06:20] dontcallmedom commented on #217
cc @tabatkins

[2020-10-06 16:12] tabatkins commented on #217
Ah, this is some bad interaction with the stylesheet that Houdini EDs link in. Sorry about that, will fix.  (This isn't relevant to tr-design, so this can be closed.)

[2020-10-06 19:30] #217 closed, assigned to nobody

[2020-10-29 19:34] fantasai opened #218 "Background status flag broken at certain widths"
No idea what's happening, but definitely needs some investigation. Seems to be common to both ReSpec and Bikeshed, so probably a bug somewhere in the base styles?

![broken-tr-background-styling](https://user-images.githubusercontent.com/725717/97623492-f9d94080-19e2-11eb-8130-68def8f2acba.png)
![broken-ed-background-styling](https://user-images.githubusercontent.com/725717/97623495-fa71d700-19e2-

[2020-10-29 19:35] fantasai opened #219 "Use different Color Schemes for UD vs CG vs WG drafts"
There was some discussion on styling the various drafts a little differently. @jensimmons suggested using different color schemes and/or fonts. A quick way to adjust would be switching out the heading/link colors.

[2020-10-29 20:19] fantasai commented on #218
It is however, not happening on our [README](https://www.w3.org/StyleSheets/TR/2016/readme.html)! So not the stylesheet's fault, something extra is getting added somewhere.

Respec: https://w3c.github.io/screen-fold/
Bikeshed: https://www.w3.org/TR/css-grid-1/
README: https://www.w3.org/StyleSheets/TR/2016/readme.html

[2020-10-29 21:09] fantasai commented on #216
I have no idea where the original image came from, so SVG source would be great. I also think the text should be laid over a transparent background in any case, so we should regenerate both variants off your source.

[2020-10-29 21:30] fantasai commented on #218
Fix for UD in https://github.com/w3c/tr-design/pull/220

Bikeshed specs are broken because Bikeshed is setting backgrounds on HTML whereas we take BODY as the canvas selector. Need to figure out if anything will break if we switch everyone to HTML.

[2020-10-29 22:53] fantasai opened #221 "Shift Legal Boilerplate out of SOTD"
A large chunk of the Status of this Document is legal stuff that nobody needs to read most of the time:

It would be nice to reduce the amount of boilerplate that is used neither by the practiced spec reader nor by the person new to reading W3C specs. Not all this stuff can be removed, but maybe we can at least move it out of SOTD!

(Note there's also the copyright statement, which is also IPR-rel

[2020-11-04 23:56] tabatkins opened #222 "Allow links to have low-contrast underlines when they're redundant"
Some specs (in particular, CSSWG specs) can have a *lot* of linked terms in close proximity. Often there are multiple instances of the same term reoccuring in the same paragraph, or even the same sentence. Typically, we link all of them in the source, because we don't want editorial edits to the source to leave a term unlinked.

However, a paragraph that is chock-full with high-contrast links (as

[2020-11-09 19:17] fantasai commented on #218
Also, fixed CG Drafts in https://github.com/w3c/tr-design/pull/224

[2020-11-17 23:02] fantasai commented on #218
Bikeshed should be fixed now also. Need to clean up existing spec publications on w3.org next.

[2020-11-18 14:24] WebReflection commented on #216
FYI removing `--unofficial-watermark` from the `:root` already improves *a lot* readability, keeping the watermark visible.

This is GNOME Web / Safari on dark mode after ruling out that variable:

![Screenshot from 2020-11-18 15-21-26](https://user-images.githubusercontent.com/85749/99542163-02091800-29b2-11eb-9e62-1f43f4f1f8ca.png)

A whole dark mode might be useful, but maybe you can drop that

[2020-11-18 22:26] fantasai commented on #216
@WebReflection AFAICT that's a Bikeshed problem. The official CG Draft styles don't have a dark mode yet. Try upgrading your copy of Bikeshed to the latest version? The output on Cookie Store API doesn't look like what I'm getting running it locally here.

[2020-11-20 04:53] deniak opened #230 "Refactor fixup.js"
fixup.js has now various purposes (ToC handler, outdated warning, analytics). I would be good to separate these scripts and repackage fixup.js from these scripts.
c.f. https://github.com/w3c/tr-design/pull/229

[2020-11-30 23:09] tabatkins commented on #216
So here's the markup for the Unofficial Draft logo. Swap in the pastel pink of the lightmode version for the `#100808` bit.

[code]

[2020-12-02 20:04] carmacleod opened #231 ".advisement box is inconsistent with other boxes"
The ".advisement" box is the only "best practices" style box that has a border on the right.
This looks inconsistent when an advisement box is right beside another type of box.

See also: https://github.com/w3c/respec/pull/2340

The following screen snapshot from the ARIA Practices Guide shows a green "note" box immediately followed by an orange "advisement" box. See the extra border line on the r

[2020-12-10 17:03] plehegar commented on #231
@fantasai , any objection/concern about adding a border-right here?

[2020-12-10 17:08] plehegar commented on #219
+1

Note that a different between (WD,CR,PR) and REC has been evoked as well.

[2020-12-10 17:33] carmacleod commented on #231
@plehegar

No, you misunderstood. I want the right border _removed_, not added. :)
None of the other box styles have this right border.

[2020-12-10 18:08] plehegar commented on #231
oops. Thank you for the correction.

[2021-03-31 06:03] fantasai commented on #231
It was intentional to have the extra border to make the advisement stand out more, and to work better for cases where it's used with short notices and centered text. But I don't mind dropping the right border if that's the preference of the ARIA folks, who use it more frequently. @carmacleod Let me know if you want me to push out this change with those considerations in mind.

[2021-03-31 23:44] carmacleod commented on #231
Thanks, @fantasai. Will it cause a problem for short notices and centered text?
We currently have 6 instances in the ARIA Practices Guide, and may need to add more in future.
However if removing the right border will impact others, then we can probably live with it.
It looked so out of place when I first saw it, but it doesn't seem quite so bad now that I look at it again. :)

[2021-04-07 16:43] johnfoliot commented on #222
Hi Tab,
WCAG 2.x mandates that the contrast for critical non-textual items (like link indication) maintain a minimum of 3:1 color contrast (ref: [https://www.w3.org/TR/WCAG21/#non-text-contrast](https://www.w3.org/TR/WCAG21/#non-text-contrast)):

### Success Criterion 1.4.11 Non-text Contrast

The visual presentation of the following have a contrast ratio of at least 3:1 against adjacent color(s):

[2021-04-07 20:18] tabatkins commented on #222
The current link styles are indeed "sufficient" contrast. My point still stands, however - a paragraph chockfull of redundant links, at "sufficient" contrast, is still hard to read.

As I said in the OP, the solution we've gone with instead is to have Bikeshed simply *remove* redundant link elements in a given paragraph, so only the first instance stays linkified. This solves the "too many links a

[2021-04-09 02:01] fantasai commented on #231
@carmacleod It definitely looks a bit weird on the centered ones. ^_^ I don't think we have many of those; but if you mark up a STRONG.advisement it'll render as a centered block currently. On the others I agree with you: it's a bit surprising, but not too bad. And the second border does add a little extra emphasis to the advisement. ;)

Here's the style sheet documentation:
  https://www.w3.org/S

[2021-04-09 08:05] fantasai commented on #190
Fixed in https://github.com/w3c/tr-design/commits/gh-pages

[2021-04-09 08:05] #190 closed, assigned to nobody

[2021-04-09 08:19] fantasai opened #241 "Dark Mode"
There's been two PRs so far that tried to add Dark Mode support, https://github.com/w3c/tr-design/pull/184 from @jakubklimek and https://github.com/w3c/tr-design/pull/202 from @tabatkins but we haven't merged any of them into the main line because swapping a spec that isn't expecting it into dark mode can make things unreadable.

Originally we were thinking to plan out the addition of Dark Mode wi

[2021-04-09 08:50] fantasai commented on #216
@tabatkins OK, I refactored it a bit and adjusted the positioning. You can see the logos at

- https://fantasai.inkedblade.net/style/design/w3c-restyle/2020/logos/UD-watermark-light.svg
- https://fantasai.inkedblade.net/style/design/w3c-restyle/2020/logos/UD-watermark-dark.svg

It would be good to get a couple more people to check that the corners of the text aren't cut off on their systems. :)

[2021-04-09 08:55] fantasai commented on #241
@deniak If this sounds like a reasonable plan to you, lmk and I'll copy the latest Bikeshed dark mode variants of our color variables into a new dark.css file.

@marcoscaceres Let me know if that seems like a workable plan for ReSpec also, and if you think we need anything else?

Also if anyone's good at coding up persistent switches in JS, could use some help with that...

[2021-04-09 10:55] deniak commented on #241
This would kind of break consistencies between the specifications but I'm not sure this is such a big deal. I'm thinking we could allow this for WDs only at the beginning.

/cc @plehegar

[2021-04-09 12:16] WebReflection commented on #216
@fantasai SVGs look good but it's hard to say if your commit fixed issues without seeing the whole final result.

[2021-04-09 19:10] fantasai commented on #216
@WebReflection As I explained in https://github.com/w3c/tr-design/issues/216#issuecomment-729996624 I can't fix the document you're complaining about. The W3C style sheets don't support dark mode at all; what you're seeing in that document is the dark mode code injected as inline styles by an old version of the Bikeshed spec generator. It has to be regenerated with a more recent build which does n

[2021-04-09 20:19] tabatkins commented on #216
And it *has* already been regenerated, as you can see in <https://wicg.github.io/cookie-store/>.

[2021-04-09 20:56] tabatkins commented on #241
This can be accomplished with a real simple script that stores data in a cookie or LocalStorage. It's just a couple lines of JS, and I already wanted to write one for Bikeshed *in general*, so I can contribute something.

[2021-04-10 13:12] WebReflection commented on #216
@tabatkins yes, thanks, I can confirm GNOME Web and all others in Dark Mode now can read everything just fine.

[2021-04-10 19:33] fantasai commented on #241
@deniak I would allow it for all specs. It would be weird if they lose a nice readability feature once they are more mature!

[2021-04-11 15:43] carmacleod commented on #231
@fantasai You know, let's just leave it. I'm convinced.

I'll close out this issue. Thanks for info, and your patience. :)

[2021-04-11 15:43] #231 closed, assigned to nobody

[2021-04-14 12:36] deniak commented on #241
My fear is actually that there's an issue with the style and editing an already published REC can be tricky. But our policy allows to fix some visible style issues so this might not be such a problem.

[2021-04-15 00:38] marcoscaceres opened #242 "Logo missing in printed version of specs"
When printing, the W3C logo becomes:

<img width="720" alt="a white square, with a blue border" src="https://user-images.githubusercontent.com/870154/114797481-9e570f80-9dd6-11eb-9eac-bf345e508fd2.png">

[2021-04-16 12:41] deniak commented on #242
@fantasai, is there a way to update the svg so we don't rely on a blue background?

[2021-04-19 06:31] marcoscaceres commented on #242
Argh, my bad. I hadn't checked the "print backgrounds" option (which, **I think**, is off by default).

<img width="304" alt="Screen Shot 2021-04-19 at 4 29 32 pm" src="https://user-images.githubusercontent.com/870154/115191183-6defd800-a12c-11eb-82a5-3ceeb91c1ccb.png">

I'd be ok to close this, but maybe the W3C logo should be a real image instead of a background image.

[2021-04-19 16:19] fantasai commented on #242
It is a real image. It's just laid over a colored background.

[2021-04-26 05:11] marcoscaceres commented on #242
Ah, got it. I wonder if we should change that to a `<picture>` element with a `<source media=>` specifically for print?

[2021-05-24 17:07] plehegar commented on #241
We could allow it for all specs, assuming we would be prompt at reacting if an issue comes up.

[2021-05-25 05:34] deniak commented on #241
@fantasai could you provide the CSS for the dark mode? I'll try to use it on one of our spec and add all the necessary javascript to toggle it. Then if it looks good to all of you, we can schedule a release date.

[2021-05-30 00:12] fantasai commented on #241
@deniak I think there's a misunderstanding, reread the initial comment? The plan is not to add them to all existing publications, only to provide the stylesheet and JS to allow new publications (of any status) to include a dark mode.

The link, btw, would look something like

[code]

where the second line is optional. Many specs have images or custom styling that assumes a light background, so ind

[2021-05-31 01:04] marcoscaceres commented on #241
Probably want ReSpec and Bikeshed to handle that, right?

[2021-05-31 06:16] deniak commented on #241
sorry I wasn't clear. Yes, the idea is to only allow the feature to specs published after a specific date. To go forward, I want to make a **copy** of one of our existing spec so we can test the JS and the CSS first.
Once we all agree it's ready, ReSpec and Bikeshed can offer an option to include the CSS/JS.

[2021-05-31 22:34] fantasai commented on #241
@marcoscaceres For the toggle? I think it should probably just be included in fixup.js and trigger on presence of the `<link>`. That way any spec that includes dark.css will get the ability to toggle the style, not just the ones generated by respec+bikeshed.

[2021-06-01 01:55] marcoscaceres commented on #241
Was thinking to opt-into the inclusion of dark.css. Feels like a burden to ask Editors to manually include the `<link>` above.

Happy for fixup to handle the toggle. That be great!

[2021-06-01 05:12] fantasai commented on #241
@marcoscaceres Oh, yes, of course. :) You might also add a feature to occasionally trigger random modes on EDs so editors notice if their colors break in the mode they aren't usually using... ;)

[2021-06-01 05:51] marcoscaceres commented on #241
heh, I like where this is going ... mauahahaha :D

[2021-07-05 08:08] Malvoz commented on #242
Stumbling upon this issue I was reminded of https://github.com/Maps4HTML/Web-Map-Custom-Element/issues/294 (in which I incorrectly had assumed one alternative to solve the issue would be to move from background-images to `<img>`).

A `<source media="">` for print could work, where the source points to an image that is an "inverted" version (no/white background-color and colored text). But how woul

[2021-07-10 20:10] fantasai commented on #241
Ok, major question here: Bikeshed's dark mode rules have `img, svg { background: white; }` in dark mode to make sure that images with transparent backgrounds remain visible.

Should we do the same thing here and have editors override it back to transparent as appropriate, or should we leave that rule out and let editors add it in as needed? Unlike Bikeshed, we are opt-in for dark mode styling. But

[2021-07-12 23:46] tabatkins commented on #241
Talked this over with Elika today, and I think we should keep the `background:white` on `img`. It's *very* easy to accidentally write an SVG that looks great in light mode (because it's black lines on a transparent bg) then fails on dark mode. If it's documented how to override it when necessary (a quick `style="background:transparent"`), I think it's better for readers to have the line still in b

[2021-07-13 16:22] rtoy opened #245 "Links in insertions/deletions in Amendment boxes are handled correctly"
In Amendment boxes, per https://fantasai.inkedblade.net/style/design/w3c-restyle/2020/readme#amendment, inserted text is green, and deleted text is struck thru and colored red.

However, if the inserted or deleted portion contains a link, the link is not styled as the surrounding text.  Deleted links aren't struck thru red text, and inserted links aren't green.  This makes for really confusing tex

[2021-07-13 16:23] rtoy commented on #245
See also https://github.com/tabatkins/bikeshed/issues/2104

[2021-08-05 21:17] jyasskin opened #246 "Link from https://w3c.github.io/tr-design/ to the sample spec"
Right now, if I get to https://w3c.github.io/tr-design/, I have to click the "Improve this page" link at the bottom, then the 'code' tab in github, in order to find the link to https://w3c.github.io/tr-design/src/README. It'd be nice to have a direct link.

[2021-08-11 20:22] plehegar commented on #246
hi @jyasskin , with the Process 2021 coming up, I'm in the process of updating our templates again. I'll make sure gets resolved as part of that.

[2021-08-24 12:47] michael-n-cooper opened #249 "Collapse SOTD also"
Responding to https://w3c.github.io/tr-design/p2021mockup/ per https://www.w3.org/mid/92302110-ff38-05db-4720-1a83ab9d7708@w3.org. I think putting the top boilerplate in <details> makes it a lot easier to get into the content. However, the real content is still "below the fold". I suggest the SOTD also be put in a <details>, so there's room for the first "real" section to show after the abstract a

[2021-08-24 22:11] fantasai commented on #249
SOTD needs to be ripped apart and redistributed, not put into a details element.

[2021-08-24 22:24] fantasai commented on #242
I think this was actualy fixed in 2016, see e8e22b4b1b8958db604e485fd8af50d38fbe1311 it looks like @deniak didn't copy it over to the server?

@deniak can you actually sync the entire folder instead of doing one-off file copies? Maybe that would be a better idea?

[2021-08-24 22:28] #216 closed, assigned to nobody

[2021-08-25 06:02] deniak commented on #242
It's now sync'ed. In production, the JS and stylesheets/logos aren't in the same folder but I wrote a small script for next time to make sure *all* the files are properly sync'ed

[2021-08-25 21:20] plehegar commented on #210
See
  https://w3c.github.io/tr-design/p2021mockup/

[2021-08-25 21:22] plehegar commented on #221
See
 https://w3c.github.io/tr-design/p2021mockup/

The wording for Notes and Registries has been reduced but we need to go further.

[2021-08-25 22:25] plehegar commented on #204
How about:

[code]

since those documents are deliverables.

[2021-08-26 16:19] wseltzer commented on #221
For REC-track documents, the patent disclosure request is important to have visible and prominent, since it's a trigger for Patent Policy obligations supporting the royalty-free policy. (Sorry!)

[2021-08-27 06:38] marcoscaceres commented on #242
Confirming it's fixed! Thanks @fantasai and @deniak!

Closing.

[2021-08-27 06:38] #242 closed, assigned to nobody

[2021-08-27 08:49] #241 closed, assigned to deniak

[2021-08-30 12:12] deniak commented on #241
I just deployed the stylesheet and script so anyone can now enable the dark mode for their specifications.
I understand @sidvishnoi is working on [adding a config option in respec](https://github.com/w3c/respec/pull/3236).
@tabatkins, do you have any recommendation to enable it for bikeshed documents?

[2021-09-10 03:13] fantasai commented on #204
@plehegar Works for me. You could also use “Published by:” (used in the current SOTD wording) or “Developed by:” (feels more active? but maybe not accurate if it's just editorial updates to something some earlier WG developed :p ).

(I don't have a strong opinion on the wording.)

[2021-09-10 03:21] fantasai commented on #221
@wseltzer But now that we've update the Patent Policy, we should be able to put it in a dedicated section instead of in SOTD, right? :) I think the difficult question is what to call that section.

[2021-09-10 03:56] fantasai opened #250 "Status Description Phrasing wrt Patent Policy"
“Publication as a Candidate Recommendation does not imply endorsement by the W3C Membership. A Candidate Recommendation Snapshot has received wide review, is intended to gather implementation experience, and _participants granted Royalty-Free IPR licenses for implementations_. ”

I think this phrasing is poor grammar and confusing, and suggest instead something like “and guarantees certain Royalty

[2021-09-10 03:57] fantasai commented on #250
Last point: If this phrase is in the CRS STOD statement, it definitely belongs in the REC SOTD statement, too. Like, I don't care if we mention it, but if we do they need to be mentioned equally.

[2021-09-10 12:24] wseltzer commented on #250
Let's keep iterating.

"... A Candidate Recommendation Snapshot has received wide review and is intended to gather implementation experience. Group participants have committed to royalty-free patent licensing for implementations. "

[2021-09-10 18:18] fantasai commented on #250
Works for me. If we want to keep it all one sentence, I guess it could be

“A Candidate Recommendation Snapshot has received wide review, is intended to gather implementation experience, and has [commitments  from Working Group members to Royalty-Free IPR licensing](https://www.w3.org/Consortium/Patent-Policy-20200915/) for implementations.”

(link goes to top of Patent Policy; I'm a little uncomf

[2021-09-10 20:15] wseltzer commented on #250
I prefer "patent" to "IPR" (since that's what the Patent Policy covers)

[2021-09-10 20:33] fantasai commented on #250
@wseltzer Ah, right, miscopied when I merged the two wordings. :) I agree.

“A Candidate Recommendation Snapshot has received wide review, is intended to gather implementation experience, and has commitments from Working Group members to royalty-free patent licensing for implementations.”

[2021-09-17 23:30] fantasai commented on #245
@deniak Fixed this in the repo, can you upload to w3.org?

[2021-09-17 23:38] fantasai opened #253 "Dotted change markings hard to see"
In https://github.com/tabatkins/bikeshed/issues/2104 @rtoy wrote:

We're currently using dotted lines for candidate amendments, double lines for proposed amendments, and solid lines for change markings that aren't marked as either (which are sometimes used e.g. in changelogs and such). Maybe we should use dashed lines instead of dotted ones? Maybe we should use solid lines for candidate amendments

[2021-09-18 03:50] deniak commented on #245
Done! I'll see how to automatically deploy the changes once merged on the `gh-pages` branch

[2021-09-21 01:21] kaelig commented on #126
I went down a rabbit hole trying to understand why RFC 2119 keywords weren't styled as per the W3C's manual of style recommendation.

### Official recommendation

W3C manual of style: https://www.w3.org/Guide/manual-of-style/#RFC

1. Adhere to and credit RFC 2119 Key words for use in RFCs to Indicate Requirement Levels [KEYWORDS] (e.g., "MUST", "MUST NOT", "REQUIRED").
1. Wrap keywords in `<em cla

[2021-09-21 02:30] dbooth-boston commented on #126
If I'm understanding correctly, the gist of this PR is that it avoids the copy-paste problem with Chromium-based browsers, by removing the transform to lower case (which would then be rendered as small caps), and instead uses "font-size: 0.875em" to reduce the height of the RFC2119  keywords.  Is that correct?  If so, that sounds like a wise and very good solution.

[2021-09-21 17:42] kaelig commented on #126
Yes, that's correct!

[2021-10-06 03:52] fantasai commented on #145
@plehegar This issue is relevant for the 2021 redesign, please don't forget about it.
https://www.w3.org/mid/a4a76d22-4964-0b62-8156-1b96e3387eda@inkedblade.net

[2021-10-17 05:59] xfq opened #258 "Use CSS Logical Properties and Values?"
Our specs use a lot of physical directions and dimensions, like [this one](https://github.com/w3c/tr-design/blob/46352c1e0a5ffb4078ac3a93b17f8c14ec2aec4d/src/base.css#L766). I think we can change them to [logical properties and values](https://www.w3.org/TR/css-logical-1/). In this way, when the document is translated into languages with a different writing direction, the original style can be bet

[2021-10-20 10:20] LeaVerou commented on #145
Agreed with @fantasai that the section should be open by default so that newcomers know where to find this information. But regardless of what the default is, the user's choice needs to be remembered. However, it's unclear to me whether toggling it should be assumed to set a preference across all specs of the origin, or just for the specific spec.

Since implementing this seems to be a sticking po

[2021-10-20 15:01] fantasai commented on #145
@LeaVerou Thanks!!! Yeah, we should remember across the whole origin. Usually if you open it, you want it open for awhile as you click through a bunch of specs. And if you want it closed, you want it closed again as you're back to ignoring metadata. ;)

[2021-10-26 02:48] jennyliang220 opened #259 "P2021 mockup, Discontinued Draft mockup is needed."
The Audio WG would like to [publish](https://github.com/w3c/specberus/issues/1294#issuecomment-951197682) a [Discontinued Draft](https://www.w3.org/Consortium/Process/Drafts/#discontinuedREC) lately, which is not in the current [P2021 mockup list](https://github.com/w3c/tr-design/tree/gh-pages/p2021mockup). @plehegar any idea when we'll have the mockup?

cc @deniak and @svgeesus .

[2021-10-26 12:46] #145 closed, assigned to nobody

[2021-10-26 12:47] plehegar commented on #249
Indeed, we cannot collapse the SOTD. Some of the text, like the patent policy must be visible.

[2021-10-26 12:47] #249 closed, assigned to nobody

[2021-10-26 12:52] #250 closed, assigned to nobody

[2021-10-27 15:30] plehegar commented on #145
(note that the markup now contains `<details open>`. @deniak took care of the JS (and the JS may still be tweaked later as needed btw).

[2021-10-27 15:48] plehegar commented on #205
Status update on this front:
- Group name is still part of the SOTD. The list of headers is becoming quite long in the P2021 templates. Note that Group pages are now switch to the default ones for consistency.
- the emphasized text has been reduced but is also still there.
- Patent policy paragraph is still part of the SOTD to make it above-the-fold but pubrules allows us to experiment within SOTD

[2021-10-27 15:50] plehegar commented on #204
This did not make the cut for P2021 templates but it's still a consideration. We should think about the number of headers we've been adding.

[2021-10-28 20:03] plehegar opened #263 "UNOFFICIAL DRAFT style is unfriendly to low vision users"
Is there way we can have the "Unofficial Draft" watermark be something we can turn off once we see it.  For low vision users, this is very annoying and makes it super difficult to read these specifications.  Would be great to have this be turned off by some button at the top of all these pages for ease of reading.

cc @clapierre @iherman

[2021-10-28 20:09] clapierre commented on #263
Another option would be to just have this status be very prevalent at the top of the document however, one thing to consider if folks are linking into id's within the unofficial draft we want to make sure they are also informed this is also a draft without making it difficult to read.

[2021-10-28 20:24] plehegar commented on #109
this didn't make the cut for P2021 but it could still be added independently.

[2021-10-28 20:25] plehegar commented on #182
This didn't make the cut for P2021 but could still be used independently.

[2021-10-28 20:26] plehegar commented on #210
This is getting addressed in P2021.

[2021-10-28 20:26] #210 closed, assigned to nobody

[2021-10-29 04:50] #246 closed, assigned to plehegar

[2021-11-01 00:47] mattgarrish opened #282 "Line wrapping in examples"
Another request from the epub accessibility horizontal review was to enable line wrapping in markup examples to meet the reflow requirement of WCAG 2.1.

I can again do this manually using `break-spaces` or `pre-wrap`, but wondering if this should be part of the default styling for the `<pre><code>` blocks? (Or maybe it could get applied when the page gets zoomed?)

[2021-11-01 14:33] sidvishnoi commented on #282
I agree this should be part of default styling so all specs benefit from it. So this needs to be discussed in [tr-design](https://github.com/w3c/tr-design/). I think we also need to reduce some margins and paddings on small screens and high zoom values so more text can be shown in a single line.

For reference: [Reflow in WCAG 2.1](https://www.w3.org/TR/WCAG21/#reflow)

[2021-11-02 05:51] #259 closed, assigned to plehegar

[2021-11-03 10:42] koalie opened #266 "Editorial for "More details" in collapsible Head"
In the [p2021 mockups](https://w3c.github.io/tr-design/p2021mockup/), I love the collapsible Head but I'm bothered by the fact that '"More details" about this document' reads "More details" both when the block is expanded and collapsed (given that it cleverly uses the last state chosen in browser.)

Unless as Denis suggests (in IRC) there's an easy way to update the wording depending on the state

[2021-11-03 23:21] marcoscaceres opened #268 "Red logo background for ED?"
Just wondering if this is intentional for ED drafts:

![Screen Shot 2021-11-04 at 10 21 02 am](https://user-images.githubusercontent.com/870154/140232142-25745671-e9b3-4f92-a161-3fc206ccfaee.png)

Change is coming from this recent update to src/W3C-ED.css:
https://github.com/w3c/tr-design/commit/9e92741691f9bef92015cc84fb3c6b3b2b5bcacd#diff-3413c51912740d733c7e242fbc0ed0f08a8a3525299339b48015f7b89

[2021-11-04 05:10] deniak commented on #268
Probably not. Looking at the templates @plehegar made, ED should use a different logo. See https://w3c.github.io/tr-design/p2021mockup/ed.html

I'm not sure how that change can affect respec and bikeshed. @plehegar what is the expectation for ED wrt new style?

[2021-11-04 05:51] marcoscaceres commented on #268
As an (live) example:
https://w3c.github.io/push-api/

[2021-11-05 20:11] swickr opened #272 "enhancement request: 'prev' and 'next' on Candidate and Proposed Corrections"
I would find it a nice enhancement to the scripting for {Candidate,Proposed} Ammendments to have 'prev' and 'next' buttons to be able to browse quickly through a document containing such changes.

E.g. [WOFF File Format 2.0](https://www.w3.org/TR/2021/REC-WOFF2-20210706/#DataTypes).

[2021-11-09 06:21] marcoscaceres opened #273 "back-cg-draft.png not loading in Safari"
The [cg-draft stylesheet](https://www.w3.org/StyleSheets/TR/2016/cg-draft) has:

[code]

Which is resolving "logos/back-cg-draft.png" against the document's URL. You can see this in DevTools as a 404 in Safari.

Probably should be an absolute URL.

[2021-11-10 03:19] marcoscaceres commented on #273
Maybe a WebKit bug:
https://bugs.webkit.org/show_bug.cgi?id=232919

[2021-11-10 14:18] svgeesus opened #275 "2021 README no longer passes pubrules"
I noticed that the very useful [2021 README](https://www.w3.org/StyleSheets/TR/2021/README) doesn't have the post-4-November 2021 markup so [does not pass pubrules](https://www.w3.org/pubrules/?url=https://www.w3.org/StyleSheets/TR/2021/README&profile=auto); it is missing the `w3c-state`, the details/summary, and so on.

It also links to the 2016 dark-mode stylesheet, which I guess is a copy-paste

[2021-11-10 15:22] svgeesus opened #276 "Poor accessibility of the diff buttons"
From Léonie Watson:

[2021-11-11 05:35] fantasai commented on #276
Maybe we need to recode this as radio buttons or something? aria-pressed talks to the accessibility APIs maybe, but for sighted mouse users it does nothing to indicate the fact that this button is pressed and clicking on it will not do anything. (We could use CSS to make it look disabled, of course, but at that point it seems like we're just building something out of pieces and hoping the assembly

[2021-11-30 22:39] marcoscaceres commented on #282
Transferred to tr-design repo...

[2021-12-02 20:00] jyasskin opened #283 "Registry mockups should include some registry tables"
The Process says that Registries include [registry tables](https://www.w3.org/2021/Process-20211102/#registry-table), but https://w3c.github.io/tr-design/p2021mockup/dry-6.5.2.html and the other Registry mockups don't have any. Could y'all show us what the tables are supposed to look like?

[2021-12-07 18:08] rakuco opened #284 "W3C-ED.css' --w3c-state-text-text is always set to black"
https://w3c.github.io/ambient-light/ and a handful of other Devices and Sensors WG specs use Bikeshed, which automatically generates some CSS that differs between `prefers-color-scheme: dark` and `prefers-color-scheme: light`. `W3C-ED.css` does not seem to play well with this though, as it ends up generating black text on a black background when a UA's color scheme is set to `dark`.

See the follo

[2021-12-08 07:18] fantasai commented on #284
Thanks for the report. Opened PR #285 hopefully @deniak can get it sorted.

[2021-12-08 07:24] fantasai commented on #283
@jyasskin There's nothing special about what the registry tables are supposed to look like... but we do have automatic styling available for HTML tables using class=data which might be convenient, see https://www.w3.org/StyleSheets/TR/2021/README#table

That said, I agree it would be helpful if at least one of the mockups had a registry formatted as an HTML table. :)

[2021-12-08 07:29] fantasai commented on #266
One could consider it as reading "More details (in addition to the title / status / date) below"? :)

I think SUMMARY is intended to represent the contents of the DETAILS, not be an action button label, so I would prefer to keep it as something that works similar to a heading...

[2021-12-08 07:33] deniak commented on #284
It's now merged and I see the spec now appears correctly.

[2021-12-08 08:33] rakuco commented on #284
Thank you for fixing this so quickly!

[2021-12-08 08:33] #284 closed, assigned to nobody

[2021-12-10 06:56] fantasai commented on #275
Made some updates, @deniak can you update it on w3.org? Lmk if anything still fails (or feel free to fix it yourself. :)

[2021-12-10 07:07] fantasai commented on #282
The problem with making this the default is that sometimes line breaks are semantically important to the example. So the stylesheets apply `overflow: auto` to allow overflowing text to be seen, but they don't actually allow wrapping because that could distort the example.

Individual specs can add rules to enable wrapping, or we could add a pre.wrap { overflow-wrap: break-word } rule to base.css t

[2021-12-10 08:06] fantasai commented on #258
I think the only language for which that would be required is Mongolian. Do we have a Mongolian translation of anything yet?

The benefit of leaving it as-is is greater backwards-compatibility, so unless we need to, it's probably best to leave things physical for now.

[2021-12-10 08:31] deniak commented on #275
Done! Pubrules still reports some errors but the README is not intended to pass pubrules which relies on Working Groups, patents policy, etc

[2021-12-17 08:36] MarjaE2 opened #287 "W3C specifications use a 2-column view, which is not universally accessible"
I visited https://drafts.csswg.org/web-animations-1/ because web animation poses way too many accessibility problems. And can make me very sick.

Following current web design tends, it has navigation in one column, and the body in another column, and has each scroll separately. This type of animation, one column scrolling without another, can trigger migraines in people with visual vertigo/visuall

[2021-12-17 14:16] frivoal commented on #287
@chrishtr @plehegar This issue seems relevant for many specs, not just of the CSSWG, but of all W3C. Should it be moved to https://github.com/w3c/tr-design/ ?

[2021-12-17 15:39] svgeesus commented on #287
I think it should.

[2021-12-17 16:33] dontcallmedom commented on #287
(not a solution to the issue which needs to be addressed in the style sheet, but as a temporary workaround, the second column disappear in narrow-enough windows)

[2021-12-17 16:35] dontcallmedom commented on #287
would it make sense to use the `prefers-reduce-motion` feature to switch to having the two columns scroll together?

[2021-12-17 19:51] MarjaE2 commented on #287
That makes sense to me.

For user-end workarounds, relying in page down instead of scrolling, or reducing frame rate to no more than 1 frame/second, can help. I find it helpful to push any boundary between scrolling and non-scroling elements close to the edge of the screen, and using a smaller window doesn't help with that.

[2021-12-31 22:42] fantasai opened #288 "Notes are endorsed by their Groups"
Specberus now requires

But this is not true. Group Notes are not endorsed by W3C, but the *are* endorsed by the members of the sponsoring Group. This should be corrected.

[2022-01-04 13:10] iherman opened #289 "DRY.css points at the wrong logo"
https://www.w3.org/StyleSheets/TR/2021/W3C-DRY.css says:

[code]

however, I suspect the reference should be `logos/DRY.svg` (for draft registry).

[2022-01-21 19:39] fantasai opened #292 "Link to Lower Level"
@svgeesus was pointing out that it's not obvious how to get from e.g. Snapshot 2021 back to Snapshot 2020 etc. because they are separate publications, rather than a dated sequence like earlier and newer versions of a draft. But we have this same problem with levelled specs in general: e.g. Cascade 4 doesn't have an obvious header link to Cascade 3 or to the set of Cascade specs.

Is there somethin

[2022-01-24 04:43] deniak commented on #292
This is something we haven't emphasized so far as we were not sure how the concept of 'series' (group of specifications with different levels) would go but we have the cover pages for the series, e.g. [CSS](https://www.w3.org/TR/CSS/all/) and [css-cascade](https://www.w3.org/TR/css-cascade/all/), which takes the shortname without the level as parameter.
You could expose these links in the headers

[2022-01-31 15:12] plehegar commented on #292
We left up to the editors to add those information indeed, without constraining them. Rethinking the approach with our handling of series seems the right think to do indeed.

[2022-01-31 15:20] plehegar commented on #288
It is a true statement, but you'd like us to also indicate that, in addition, Notes are endorsed by the Group.

While I believe we should stay silent by default for Draft Notes (ie it's up to the Group to say if they want to endorse a draft note), we could say something like that for Notes:
[[
Group Notes are endorsed by a W3C Group but not endorsed by W3C nor its Members.
]]

[2022-01-31 15:23] plehegar commented on #287
Makes sense to me as well. @deniak , is that something you'll like to try or should I look in doing it?

[2022-01-31 15:25] plehegar commented on #275
I'll do a pass at it before closing this issue.

[2022-01-31 15:40] plehegar commented on #282
+1 to @fantasai. In addition, this would be a breaking change if we were modifying the default.

If we had a pre.wrap CSS class, would this be of enough interest? Neither Respec nor Bikeshed contain such a style rule so far, which tells me this isn't used  significantly.

[2022-01-31 16:38] mattgarrish commented on #282
As an individual rule it's a bit pointless. I don't want to add it to the hundreds of examples across the specs I work on, and have to keep remembering to add it on every time we add a new one.

Could you do something like a global body.example-wrap class, so that all pre tags in the body get wrapped?

That would be better than having to inline a rule manually, and would also presumably allow it t

[2022-02-02 05:10] #289 closed, assigned to deniak

[2022-02-02 09:51] deniak commented on #287
I'll give it a try this week but what are the expectations regarding the scrolling? The TOC and the content of the spec have different heights so do you expect the scrolling rate to be the same for the 2 columns or proportional to the height of the sections?
I'm assuming it's the second option as the first one will not really solve the issue but it feels a bit weird to have different scrolling spe

[2022-02-02 10:42] dontcallmedom commented on #287
I think the first option ("scrolling rate the same for the 2 columns") solves the problem actually

[2022-02-02 11:37] deniak commented on #287
Ok, I gave it a try and you can see the result [here](https://cdn.statically.io/gh/w3c/tr-design/2-column-scroll/src/README.html). Please comment on [the PR](https://github.com/w3c/tr-design/pull/293) if you have any remarks.

[2022-02-02 18:00] MarjaE2 commented on #287
Works great for me!

[2022-02-02 18:02] MarjaE2 commented on #287
.... Until the left column runs out.

[2022-02-02 18:04] dontcallmedom commented on #287
@MarjaE2 unfortunately https://cdn.statically.io/gh/w3c/tr-design/2-column-scroll/src/README.html no longer reflect the latest version of https://github.com/w3c/tr-design/pull/293 which I think solves this; we'll ping you as soon as we have a proper rendition of that latest version

[2022-02-07 07:27] #287 closed, assigned to nobody

[2022-02-16 13:28] r12a commented on #258
@fantasai what about changing the margin-left, border-left, etc properties, since we do have Arabic translations?  It would save them some work, and show that we're eating our own dogfood.

[2022-02-26 19:07] gosko opened #295 "Sample headers section missing and broken links in README"
Hi, the ToC on the [Sample W3C Specification](https://w3c.github.io/tr-design/src/README) includes a section 3, Sample Headers Section with link fragment [\#h2](https://w3c.github.io/tr-design/src/README#h2) but that section does not appear in the doc itself.

Also, the Latest version is linked to [`https://www.w3.org/StyleSheets/TR/`](https://www.w3.org/StyleSheets/TR/) which shows a directory in

[2022-03-24 15:39] #295 closed, assigned to nobody

[2022-08-01 06:40] xfq opened #317 "Bidi support"
The ToC should be on the right after adding `dir="rtl"` to the `<html>` tag.

Related: https://github.com/w3c/tr-design/issues/258

[2022-09-09 11:51] WilcoFiers opened #318 "WCAG 2.2 target size issues on Table of contents"
@michael-n-cooper asked me to post this here. WCAG 2.2 is introducing a new [target size (minimum)](https://www.w3.org/TR/WCAG22/#target-size-minimum) success criterion. This criterion requires targets to have a minimum size of 24px, or for there to be an offset of 24 pixels to the closest target.

This is not the case for the table of contents of W3C specifications. The height of an item in the t

[2022-09-29 15:43] plehegar opened #320 "Should "It is not a W3C Standard nor is it on the W3C Standards Track." be more clearly displayed?"
See https://github.com/w3c/respec/issues/4157

[2022-10-25 20:46] ThisIsMissEm commented on #141
What would be needed to land a change for this? Is it just a matter of a corresponding pull request?

[2022-10-31 02:56] marcoscaceres commented on #141
@ThisIsMissEm, yes, just a pull request... and maybe a sample page showing it working so we can see it/play with it.

[2022-10-31 18:05] ThisIsMissEm commented on #141
hmm, okay, I'll see if I can make it happen.